$sidebarWidth: 25em;

html,
body {
  margin: 0;
  padding: 0;
}

.app {
  height: 100vh;

  .beers {
    width: $sidebarWidth;
    position: fixed;
    height: 100vh;
    top: 0;

    form.search {
      position: absolute;
      top: 1em;
      right: 2em;
      padding: 1em;
      background-color: white;

      input.error {
        outline: red 1px solid;
      }

      div.error {
        color: red;
      }
    }

    .load-more {
      position: absolute;
      right: 2em;
      bottom: 2em;
    }

    ul {
      margin: 0;
      padding: 0;
      height: 100vh;
      list-style: none;
      overflow: auto;

      li {
        cursor: pointer;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      li.emphasize {
        font-weight: bold;
      }
      li:hover {
        background: green;
      }
    }
  }

  .beer {
    margin-left: $sidebarWidth;
    position: fixed;
    padding: 2em;

    .image-loading {
      position: absolute;
      margin: 10em auto 0 auto;
    }

    .beer-image {
      float: right;
      transform: rotate(-10deg);
      height: 90vh;
    }
  }
}
